.employee-detail {
  box-sizing: border-box;
  margin: 0;
  border: solid 1px;
  padding: 0;
  width: 100%;
  min-height: 350px;
}

div.heading-container {
  display: flex;
  flex-flow: row wrap;
}

.employee-photo {
  border: solid 1px;
  flex-basis: 145px;
  margin-right: 25px;
  height: 152px;
}

.employee-name {
  margin-left: 5px;
  align-self: flex-end;
}

.employee-title {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.detail-container {
  margin: 15px 0 0 0;
  border: 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

div.job-title {
  box-sizing: border-box;
  padding: 5px;
  flex-basis: 145px;
  margin-right: 25px;
}

p.detail-bio {
  flex-basis: 165px;
  flex-grow: 1;
  margin: 10px 0 0 5px;
}
