<div class="employee-detail" *ngIf="employee">
  <div class="heading-container">
    <img class="employee-photo" alt="avatar" [src]="employee.avatar"/>
    <h3 class="employee-name">{{employee.firstName}} {{employee.lastName}}</h3>
  </div>
  <div class="detail-container">
    <div class="job-title">
      <h4 class="employee-title">{{employee.jobTitle}}</h4>
      <p class="employee-title">Age: {{employee.age}}</p>
      <p class="employee-title">Joined: {{dateJoined}}</p>
    </div>

    <p class="detail-bio">{{employee.bio}}</p>
  </div>
</div>
