header {
    border-bottom: solid 1.5px;
    padding: .1em 1em 0 1em;
    background-color: grey;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}

.employee-grid {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    box-sizing: border-box;
}

.employee-grid h1 {
    font-size: 1.3em;
}

.employee-block {
    margin: 10px;
    border: solid 1px;
    padding: 0;
    display: inline-block;
    width: 400px;
}

.employee-avartar {
    display: block;
    box-sizing: border-box;
    border: solid 1px;
    width: 145px;
    height: 152px;
    float: left;
}

.employee-info {
    box-sizing: border-box;
    margin: 0;
    width: 245px;
    max-height: 152px;
    float: right;
    overflow: hidden;
}

.employee-info h3:hover {
    cursor: pointer;
}

.capitalize {
    text-transform: capitalize;
}

.employee-detail {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px;
    padding: 0;
    width: 100%;
    min-height: 350px;
}

.employee-photo {
    border: solid 1px;
    width: 145px;
    height: 152px;
}

.employee-name {
    display: inline;
    margin-left: 30px;
}

.employee-title {
    margin-top: 5px;
    margin-bottom: 5px;
}

div.detail-container {
    margin: 15px 0 0 0;
    border: 0;
    pading: 0;
    width: 100%;
}

div.job-title {
    box-sizing: border-box;
    padding: 5px;
    width: 145px;
    float: left;
}

p.detail-bio {
    width: 370px;
    margin: 10px 0 0 0;
    float: right;
}
