header {
    border-bottom: solid 1.5px;
    padding: .1em 1em 0 1em;
    background-color: grey;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-both {
    clear: both;
}
